.container.profilePage
  .header_row
    .header_left
      = link_to :back do
        = image_tag 'back.png', class: 'header_back'
    .header_center
      = @user.account
    .header_right

  .profilePage_user
    .profilePage_user_img.current_user
      = form_with model: @user, url: avatar_upload_profile_path, local: true, html: { multipart: true, id: "avatar-form" } do |f|
        = f.file_field :avatar, accept: 'image/*', style: "display: none", id: "avatar-input"
        - if @user.avatar.attached?
          = image_tag @user.avatar, id: "avatar-image", class: "profile-avatar"
        - else
          = image_tag "default-avatar.png", id: "avatar-image", class: "profile-avatar"

    = render 'commons/profile'
