.container
  .header_row
    .header_left
      = link_to new_post_path do
        %i.fa-regular.fa-camera
    .header_right
      - if user_signed_in?
        .dropdown
          = image_tag current_user.avatar_image, class: 'dropbtn'
          .dropdown-content
            = link_to 'My Profile', profile_path(current_user.id)
            = link_to 'Logout', destroy_user_session_path, data: { turbo_method: 'delete' }
      - else
        = link_to 'Login', new_user_session_path, class: 'loginBtn'

  .posts
    - @posts.each do |post|
      .post.js-post{ data: { post_id: post.id} }
        .post_meta
          .post_icon
            = image_tag post.user.avatar_image
          .post_info
            .post_author_upper
              = post.user.account
            .post_time-ago
              = post.time_ago_display

        - case post.images.count
        - when 1
          .post_images.one
            .image-first
              = image_tag post.images[0]
        - when 2
          .post_images.two
            .image-first
              = image_tag post.images[0]
            .image-second
              = image_tag post.images[1]
        - when 3
          .post_images.three
            .image-first
              = image_tag post.images[0]
            .image-second
              = image_tag post.images[1]
            .image-third
              = image_tag post.images[2]
        - when 4
          .post_images.four
            = image_tag post.images[0]
            = image_tag post.images[1]
            = image_tag post.images[2]
            = image_tag post.images[3]

        .post_actions
          .post_like.hidden.active-heart
            = image_tag 'heart-active.svg'
          .post_like.hidden.inactive-heart
            = image_tag 'heart.svg'
          .post_comment
            = image_tag 'comment.png'
          .post_share
            - share_url = polymorphic_url(post, host: request.base_url)
            = link_to "https://twitter.com/share?#{ {url: share_url}.to_query }", target: '_blank' do
              = image_tag 'share.png'
        .post_liked-by
          = post.display_like_count
        .post_text
          .post_author_lower
            = post.user.account
          .post_content
            = post.content
