!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= content_for(:title) || "Photogram"
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    %link{:href => "/manifest.json", :rel => "manifest"}/
    %link{:href => "/icon.png", :rel => "icon", :type => "image/png"}/
    %link{:href => "/icon.svg", :rel => "icon", :type => "image/svg+xml"}/
    %link{:href => "/icon.png", :rel => "apple-touch-icon"}/
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
    -# = javascript_include_tag "application", "data-turbo-track": "reload", type: "module"

    / Google Fonts
    %link{:href => "https://fonts.googleapis.com", :rel => "preconnect"}
    %link{:crossorigin => "", :href => "https://fonts.gstatic.com", :rel => "preconnect"}
    %link{:href => "https://fonts.googleapis.com/css2?family=Poppins&display=swap", :rel => "stylesheet"}/

  %body
    - if controller_name == 'users'&& action_name == 'index'
      %header.header
        .header_container
          .header_button
            - if user_signed_in?
              = link_to 'LOGOUT', destroy_user_session_path, data: { turbo_method: 'delete' }
            - else
              = link_to 'LOGIN', new_user_session_path

    - if flash.present?
      .flash
        - flash.each do |key, value|
          %div{:class => key}= value
    = yield
