.container.profilePage
  .header_row
    .header_left
      = link_to :back do
        = image_tag 'back.png', class: 'header_back'
    .header_center
      = @user.account
    .header_right
      - if current_user&.has_followed?(@user)
        %p フォロー済
      - else
        = link_to 'Follow', account_follows_path(@user), data: { turbo_method: 'post' }

  .profilePage_user
    .profilePage_user_img
      - if @user.avatar.attached?
        = image_tag @user.avatar, class: "profile-avatar"
      - else
        = image_tag "default-avatar.png", class: "profile-avatar"

    = render 'commons/profile'
